/*general*/
/*body *{border: 1px solid #990000;}*/
body {
  font-family: helvetica, verdana;
  color: #330000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body input[type="submit"],
body input[type="reset"],
body button {
  cursor: pointer;
  color: white;
  font-weight: bold;
  background: #272627;
  padding: 5px 15px;
  border-radius: 5px;
}
body,
p {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
}
/*----*/
/*header*/
header {
  display: flex;
  justify-content: space-between;
  /*border-bottom: 2px solid #660000;*/
  padding: .5vh;
}
header #titre {
  margin: 5vh 2vw 0 2vw;
  flex: 2;
}
header #titre p {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  border: 2px solid #660000;
  border-radius: 5px;
}
header nav {
  flex: 1;
  min-width: 303px;
  display: flex;
  flex-direction: column;
}
header nav #liens {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
header nav form {
  display: flex;
  flex-direction: column;
}
header nav form #texteRecherche {
  padding-top: .2rem;
  border: 2px solid #660000;
  border-radius: 5px;
}
header nav form #texteRecherche input {
  outline-color: #660000;
  margin: 0;
  padding: 0;
  vertical-align: top;
}
header nav form #texteRecherche .header_recherche_criteres {
  display: flex;
  justify-content: center;
  font-size: .8em;
}
header nav form #texteRecherche .header_recherche_criteres input {
  margin-left: 1vw;
}
header nav form input[type="submit"] {
  margin: auto;
  border-color: #660000;
}
/*Contenu*/
main {
  background-color: #eeeeee;
  flex: 1;
  padding: 1vh 0;
  width: 100vw;
}
main section h1 {
  background-color: white;
  border-radius: 5px;
  padding: 0 1vw;
  margin: 0 .2vw;
  margin-bottom: .8vh;
  font-variant: small-caps;
}
main #groupes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
main #groupes article {
  position: relative;
  width: 24vw;
  min-height: 25vh;
  border: 2px solid #660000;
  border-radius: 5px;
  margin: 0 .25vw;
  margin-bottom: .8vh;
  background-color: white;
}
main #groupes article a {
  color: #330000;
  text-decoration: none;
}
main #groupes article h2 {
  padding: .5vh 0;
  margin: 0;
  background-color: #660000;
  color: white;
  font-size: 1.2rem;
}
main #groupes article > ul {
  list-style-type: none;
  padding: 1vh .5vw;
  margin: 0;
}
main #groupes article > ul .label {
  font-weight: bold;
}
main #groupes article ul li {
  margin-bottom: .5em;
}
/*footer*/
footer {
  padding: .5vh 0;
  display: flex;
  justify-content: space-around;
  border-top: 2px solid #292627;
}
main section #formulaireContact {
  margin: 1vh .5vw;
  padding: 1vh .5vw;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr auto 1fr;
  justify-items: stretch;
  background-color: white;
}
main section #formulaireContact > * {
  padding-bottom: 1vh;
}
main section #formulaireContact > div {
  display: flex;
}
main section #formulaireContact > div label {
  width: 8rem;
}
main section #formulaireContact > div input,
main section #formulaireContact > div textarea {
  outline-color: #660000;
}
main section #formulaireContact > div textarea {
  resize: none;
}
main section #formulaireContact .email {
  grid-column: 1 / span 2;
}
main section #formulaireContact .message {
  grid-column: 1 / span 2;
}
main section #formulaireContact .message textarea {
  flex: 1;
  height: 6rem;
}
main section #formulaireContact input[type="submit"] {
  justify-self: center;
  align-self: center;
  grid-column: 1 / span 2;
  box-shadow: 1px 1px 2px;
}
main section #formulaireCreationGroupe {
  width: 60vw;
  margin: 0 auto;
  padding: 1vh .5vw;
  border-radius: 5px;
  background-color: white;
}
main section #formulaireCreationGroupe > * {
  padding-bottom: 1vh;
}
main section #formulaireCreationGroupe > div label {
  display: inline-block;
  width: 10rem;
}
main section #formulaireCreationGroupe > div select {
  width: 12.5rem;
}
main section #formulaireCreationGroupe .membres_groupe input {
  margin: 0 0 1vh 10.1rem;
}
main section #formulaireCreationGroupe input[type="submit"] {
  display: block;
  margin: auto;
}
main section #presentation_groupe,
main section #documents_public,
main section #presentation_membres {
  min-height: 2vh;
  border-radius: 5px;
  padding: 1vh 1vw;
  margin: 0 .5vw 5vh .5vw;
  background-color: white;
}
main section #documents_public {
  display: flex;
  justify-content: space-between;
}
main section #documents_public .a_droite {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
main section #documents_public .a_droite > div {
  margin: 2vh 1vw;
  width: 15vw;
  height: 10vh;
}
main section #documents_public .video {
  margin: 2vh 1vw;
  width: 40vw;
}
main section #documents_public .video,
main section #documents_public > div div {
  border: 1px solid #660000;
}
main #connexion #formulaireConnexion {
  background-color: white;
  display: block;
  margin: 1vh .5vw;
  padding: 1vh .5vw;
  border-radius: 5px;
}
main #connexion #formulaireConnexion table {
  margin: auto;
}
main #connexion #formulaireConnexion table tr td {
  padding-bottom: 1vh;
}
main #connexion #formulaireConnexion table tr td input[type="mail"],
main #connexion #formulaireConnexion table tr td input[type="password"] {
  outline-color: #660000;
  width: 20vw;
}
main #connexion #formulaireConnexion .lien_inscription {
  text-align: center;
  display: block;
  color: #660000;
}
main #inscription form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
main #inscription form fieldset {
  min-width: 66vw;
  background-color: white;
}
main #inscription form .inscription_cgu {
  margin: 1vh 0;
}
main #inscription form .inscription_cgu input[type="checkbox"] {
  transform: scale(1.5);
}
main #inscription form .form-control {
  margin: 1vh 1vw;
  font-size: 1em;
}
.profil > div,
.profil > table {
  background-color: white;
  margin: 1vh .5vw;
  padding: 1vh .5vw;
  border-radius: 5px;
}
.profil > div a,
.profil > table a {
  color: #660000;
}
.profil #liste_taches {
  border: 2px solid #660000;
  border-collapse: collapse;
  min-width: 40vw;
}
.profil #liste_taches td,
.profil #liste_taches th {
  border-left: 1px solid #660000;
  padding-left: 0.5vw;
}
.profil #liste_taches td:first-child,
.profil #liste_taches th:first-child {
  border-left: none;
}
.profil #liste_taches th {
  background-color: #e0e0e0;
  text-align: left;
}
.profil #liste_taches tr:nth-child(even) {
  background-color: #f0f0f0;
}
.profil #liste_groupe button {
  cursor: pointer;
  color: white;
  font-weight: bold;
  background: #272627;
  padding: 5px 15px;
  border-radius: 5px;
}
main #groupe_prive > article {
  background-color: white;
  margin: 0 .2vw 4vh .2vw;
  border-radius: 5px;
  padding: 1vh 1vw;
}
main #groupe_prive .button_ajouter {
  font-size: 2em;
  position: absolute;
  top: 20%;
}
main #groupe_prive .documents {
  position: relative;
}
main #groupe_prive .documents .liste_documents {
  margin: auto;
  max-width: 80vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
main #groupe_prive .documents .liste_documents a div {
  position: relative;
  border: 1px solid black;
  width: 9em;
  height: 7em;
  margin: 0;
}
main #groupe_prive .documents .liste_documents a div .button_fermer {
  position: absolute;
  right: 0;
  bottom: 0;
}
main #groupe_prive .documents .button_ajouter {
  left: 4vw;
}
main #groupe_prive .taches {
  position: relative;
}
main #groupe_prive .taches .table_taches {
  margin: auto;
  border: 2px solid #660000;
  border-collapse: collapse;
  width: 66vw;
}
main #groupe_prive .taches .table_taches td,
main #groupe_prive .taches .table_taches th {
  border-left: 1px solid #660000;
  padding-left: 0.5vw;
}
main #groupe_prive .taches .table_taches td:first-child,
main #groupe_prive .taches .table_taches th:first-child {
  border-left: none;
}
main #groupe_prive .taches .table_taches th {
  background-color: #e0e0e0;
  text-align: left;
}
main #groupe_prive .taches .table_taches tr:nth-child(even) {
  background-color: #f0f0f0;
}
main #groupe_prive .taches .button_ajouter {
  left: 10vw;
}
main #groupe_prive .modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.4);
}
main #groupe_prive .modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
main #groupe_prive .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
main #groupe_prive .close:hover,
main #groupe_prive .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
